# Base URL de l'API Laravel
# Laisser vide en dev
# Staging/prod : mettre l'URL complète (VITE_API_URL=https://api.gauthierfitness.fr/api)
VITE_API_URL=

# Clé publique Stripe
VITE_STRIPE_PUBLIC_KEY=

# DSN Sentry
VITE_SENTRY_DSN=
